<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="baltasarb.yama">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".YamaApplication"
        android:allowBackup="true"
        android:icon="@mipmap/yama_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/yama_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".activities.SignInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.UserProfileActivity" />
        <activity android:name=".activities.OrganizationsActivity" />
        <activity android:name=".activities.OrganizationTeamsActivity" />
        <activity android:name=".activities.TeamMembersActivity" />
        <activity android:name=".activities.ChatActivity" />
    </application>

</manifest>